<header class="container mx-auto p-5">
  <div class="hidden md:block">
    <div class="flex justify-between space-x-3 items-center content-center">
      <div class="cursor-pointer shrink-0"><img src="assets/images/logo.svg" alt=""></div>
      <div>
        <ul class="nav">
          <li class="hover:font-bold">Home</li>
          <li class="hover:font-bold">About Us</li>
          <li class="hover:font-bold">Services</li>
          <li class="hover:font-bold">Our Teams</li>
          <li class="btn">Contact Us</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="block md:hidden">
    <div class="flex justify-between">
      <div class="cursor-pointer"><img src="assets/images/logo.svg" alt=""></div>
      <div class="">
        <i class="fa fa-bars text-primary-900 text-2xl cursor-pointer;" (click)="toggleNav()" *ngIf="showMenu"></i>
        <i class="fa fa-bars text-primary-900 text-2xl cursor-pointer;" (click)="toggleNav()" *ngIf="!showMenu"></i>
      </div>
    </div>
    <div *ngIf="!showMenu">
      <ul class="menu pt-4">
        <li>Home</li>
        <li>About Us</li>
        <li>Services</li>
        <li>Our Teams</li>
        <button class="btn-1">Contact Us</button>
      </ul>
    </div>
  </div>
</header>
