<!-- app header template -->
<header>
  <app-header></app-header>
</header>
<!-- end of app header -->

<!-- Home Section -->
<section class="container mx-auto">
  <!-- Hero text -->
  <div class="text-center">
    <h1 class="font-bold text-[54px] mt-10">Minimalist Room</h1>
    <p class="w-[518px] mx-auto mt-10 text-[18px]">It is a long established fact that a reader will be distracted by the
      readable
      content
      of a
      page when looking at
      its layout.</p>
  </div>
  <!-- End of hero text -->

  <!-- hero image -->
  <div class="mt-10">
    <img class="object-cover w-full" src="assets/images/img1.svg" alt="">
  </div>

  <div class="homeImg mt-16">
    <div class="w-full md:w-[756px]">
      <h2 class="text-[#333333] text-[24px] font-bold">Project Overview</h2>
      <p class="text-[#9C9C9C] mt-4 text-[18px]">Online learning with us does not interfere with your daily life.
        because learning
        can be
        done anytime and
        anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime
        and anywhere. Online learning with us does not interfere with your daily life. because learning can be done
        anytime and anywhere. </p>
      <div class="flex space-x-6 mt-10 text-[18px] text-[#9C9C9C]">
        <p>July 22 - 2022</p>
        <p>Interior Design - Furnitur</p>
      </div>
    </div>
    <div class="w-full md:w-[756px]">
      <h2 class="text-[#333333] text-[24px] font-bold">Design Process</h2>
      <p class="text-[#9C9C9C] text-[18px] mt-4">Online learning with us does not interfere with your daily life.
        because learning
        can be done anytime and
        anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime
        and anywhere.</p>
      <p class="text-[#9C9C9C] mt-4">Online learning with us does not interfere with your daily life. because
        learning
        can be done anytime and
        anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime
        and anywhere.</p>
    </div>
  </div>
  <div class="homeImg mt-16 ">
    <div><img src="assets/images/img2.svg" alt=""></div>
    <div><img src="assets/images/img3.svg" alt=""></div>
  </div>
  <div class="mt-10">
    <img class="object-cover w-full" src="assets/images/img4.svg" alt="">
  </div>
  <div class="homeImg mt-10">
    <div><img src="assets/images/img5.svg" alt=""></div>
    <div><img src="assets/images/img6.svg" alt=""></div>
  </div>
</section>
<!-- home section ends here -->

<!-- footer -->
<app-footer></app-footer>
<!-- footer ends here -->
